doctype html
html(lang="pt-BR")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Raio-X do BBB 24
    link(href="./styles/style.css" rel="stylesheet")
  body
    div(class="sm:container sm:mx-auto")
      .flex.flex-col.items-center.gap-4.p-3
        block content
