doctype html
html(lang="pt-BR")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Raio-X do BBB 24
    link(href="./styles/style.css" rel="stylesheet")
    link(href="./styles/extra.css" rel="stylesheet")
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3912245569323100" crossorigin="anonymous")
  body
    div(class="md:container md:mx-auto")
      .flex.flex-col.w-full.items-center.p-2

        block header
          .divider.divider-primary
          p.text-4xl.text-center.py-4 Coisas do BBB 24

        block content

        div 
          p.text-center.pt-4 Esse site não é oficial e não tem ligação com a rede Globo ou o Big Brother Brasil.
